.vs/
bin/
obj/
publish/
packages/

*.user
*.suo
*.dbmdl
*.cache
*.log
*.tmp

*.db
*.db-shm
*.db-wal

Thumbs.db
.DS_Store

*.zip
*.7z
*.rar

appsettings.Production.jsonappsettings.json
appsettings.json
